<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="uap rescap iot uap3 uap10">

  <Identity
	Name="eef45acd-2cf3-4d7d-9d33-92f37c74cc31"
	Publisher="CN=LenovoLegionToolkit"
	Version="2.33.9.0"
	ProcessorArchitecture="neutral" />

  <Properties>
	<DisplayName>Lenovo Legion Toolkit</DisplayName>
	<PublisherDisplayName>Lenovo Legion Toolkit</PublisherDisplayName>
	<Logo>Images\StoreLogo.png</Logo>
	<uap10:AllowExternalContent>true</uap10:AllowExternalContent>
  </Properties>

  <Dependencies>
	<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
	<Resource Language="en-US"/>
  </Resources>

  <Applications>
	<Application Id="App"
	  Executable="Lenovo Legion Toolkit.exe"
	  uap10:TrustLevel="mediumIL"
	  uap10:RuntimeBehavior="win32App">
    <uap:VisualElements
      DisplayName="Lenovo Legion Toolkit"
      Description="Lenovo Legion Toolkit"
      BackgroundColor="transparent"
      Square150x150Logo="Images\Square150x150Logo.png"
      Square44x44Logo="Images\Square44x44Logo.png"
      AppListEntry="none">
      <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
      <uap:SplashScreen Image="Images\SplashScreen.png" />
    </uap:VisualElements>
		<Extensions>
			<uap3:Extension Category="windows.appExtension">
				<uap3:AppExtension Name="com.microsoft.windows.lighting" Id="LenovoLegionToolkitLighting" PublicFolder="public" DisplayName="Lenovo Legion Toolkit Lighting" />
			</uap3:Extension>
		</Extensions>
	</Application>
  </Applications>

  <Capabilities>
	<Capability Name="internetClient" />
	<rescap:Capability Name="runFullTrust" />
	<rescap:Capability Name="unvirtualizedResources" />
	<iot:Capability Name="systemManagement"/>
	<DeviceCapability Name="humaninterfacedevice"/>
  </Capabilities>
</Package>
